:root{
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #FFce00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco:#fff;
    --oscuro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}
*{
    font-family: var(--fuentePrincipal);
    text-decoration: none;
    list-style: none;

}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    }
  *, *:before, *:after {
    box-sizing: inherit;
    }
/*Globales***************************************/

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
img{
    max-width: 100%;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1rem;

}
h1,h2,h3{
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}

/*HEADER*******************************************/

.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 1rem 0rem;
}

/*******  NAVEGACION**********/
.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}
.navegacion__enlace{
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;
}
.navegacion__enlace:last-of-type{
    margin-right: 0%;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/********** MAIN **********/

.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;
}
.producto__imagen{

}
.producto__informacion{

}
.producto__nombre{
    font-size: 4rem;
    margin: 1rem 0px;
}
.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);
    font-weight: 400;
    margin: 1rem 0px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
    margin: 0px;

}
@media (min-width: 460px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grafico--camisas{
        grid-row: 2/3;
        grid-column: 1/3;
        background-image: url(../img/grafico1.jpg);
    }
    .grafico--node{
        background-image: url(../img/grafico2.jpg);
        grid-column: 1/span 2;
        grid-row: 8/9 ;
    }
    .grafico{
        min-height: 30rem;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
}

@media (min-width: 768px) {
    .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
}


@media (min-width: 768px) {
    .grafico--node{
        grid-row: 5/6;
        grid-column: 2/4;
    }
}
/********* NOSOTROS *********/


.nosotros {
    display:grid;
    grid-template-rows:  repeat(2,auto);
    margin: 0 4rem;

}


.nosotros__img {
    grid-row: 1/2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nosotros__contenido{
    text-align: start;
    display: flex;
    align-items: center;
}
@media (min-width: 1000px) {
    .nosotros__img{
        grid-column: 2/3;
    }
    .nosotros-main{
        margin: 0 15rem;
    }
    .nosotros{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }
}


/**********PRODUCTO************/
img{
    width: 100%;
}
.contenedor-producto{
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width: 400px) {
    .formulario{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .Aac{
        grid-column: 1/-1;
        grid-row: 2/-1;
    }
    .formulario select{
        grid-column: 1/2;
    }
}

.camisa-info p {
    font-size: 15px;
    text-align: center;
}
.formulario{
    display: grid;
    grid-gap: 1rem;
    font-size: 2rem;
}

@media (min-width: 768px) {
    .camisa-info {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem;
    }
    .camisa__contenido{
        margin: auto 0;
    }
    .formulario{
        font-size: 2.5rem;
    }
}
.formulario__campo{
    border: 7px solid var(--primarioOscuro);
    background: var(--primario);
    color: var(--oscuro);
}
.Aac{

    height: 5rem;
    background: var(--secundario);
}

/*********     FOOTER    *******/

.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin: 2rem;
}
.footer__texto{

}
